<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Capsule</title>
    <link rel = "stylesheet" href = "{{url_for('static', filename = 'styles.css')}}">
    {% block head %} 

    {% endblock %}
</head>
<body>
    <header>
        <h1>Momento</h1>
    </header>
        {% block body %}

        {% endblock %}

    <footer>
        <p>&copy; 2025 Time Capsule. All rights reserved.</p>
    </footer>
</body>
</html>